{% extends '::plantilla.html.twig' %}

{% block id 'horaricita' %}
    {# Barra de ruta #}
    {% block ruta %}
    <div class="container navbar-blanca">                
        <ul class="breadcrumb-modi">
            <li><a href="#"><small>Inicio</small></a></li>
            <li class="active"><small>Horario-Cita</small></li>
        </ul>                              
    </div> 
    {% endblock %}{#-- Fin Barra de ruta --#}
   
    {# Campos de la Forma #}
    {% block twigformulario %}
        <fieldset>
                {# Titulo Listar horarios-citas #}
                <legend>Listar horarios-citas
                    <div class="pull-right">
                        <a href="{{ path('pgHorariCita_registrar') }}" class="btn btn-xs" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Crear">
                            <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                        </a>                          
                    </div>
                </legend>
                {{ bootstrap_set_style('horizontal') }}
    
                {#Muestra los campos del formulario#} 
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>                            
                                <tr>
                                    <th></th>
                                    {# Días de la semana #}
                                    {% for fecha in objPagina %}                                        
                                        <th> {{arrDias[fecha|date('N')]}} </th>                                        
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <th> Hora </th>
                                    {# Fecha #}
                                    {% for tag in objPagina %}                                        
                                        <th>{{ tag }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for i,  item1 in arrCalendario %} 
                                    <tr>
                                        {% for j, item2 in item1 %}                                        
                                            <th>{% for key, item3 in item2 %}
                                                    {# {{ attribute(item2, key).1 }}#}
                                                    {{ arrCalendario[i][j][key] }}                                                    
                                                {% endfor %}
                                            </th>
                                        {% endfor %}
                                    </tr>  
                                    
                                {% endfor %} 
                            </tbody>
                        </table>
                    </div>                 
                                      
                </fieldset>   
    {% endblock %}{#-- Fin Campos de la Forma #}
