{% extends '::plantilla.html.twig' %}

{% block id 'horaricita' %}
    
    {% block ruta %}
    <div class="container navbar-blanca">                
        <ul class="breadcrumb-modi">
            <li><a href="#"><small>Inicio</small></a></li>
            <li><a href="{{ path('pgHorariCita') }}"><small>Horario-Cita</small></a></li>
            <li class="active"><small>Detalle</small></li>
        </ul>                              
    </div> 
    {% endblock %}{#-- Fin Barra de ruta --#}
   
    {# Campos de la Forma #}
    {% block twigformulario %}
        
            <fieldset>
                {# Titulo del requisito #}
                <legend>Detalle horario-cita
                    <div class="pull-right">
                        {{ form(delete_form) }}
                    </div> 
                    <div class="pull-right">
                        <a href="{{ path('pgHorariCita') }}" class="btn btn-xs" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Regresar al listado">
                            <span class="glyphicon glyphicon-hand-left" aria-hidden="true"></span>
                        </a> 
                        <a href="{{ path('pgHorariCita_editar', { 'id': objEntidad.coHorariCita }) }}" class="btn btn-xs" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Editar">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a> 
                    </div> 
                     
                </legend>
                {#Muestra los campos del formulario#}      
                   
                <div class='form-horizontal'>
                    <div class='form-group'>
                        <div class='text-right col-xs-5 col-sm-2 col-md-2 col-lg-2'><strong>Id</strong></div>
                        <div class='col-xs-7 col-sm-10 col-md-10 col-lg-10'>{{ objEntidad.coHorariCita }}</div>                    
                    </div>    
                    <div class='form-group'>
                        <div class='text-right col-xs-5 col-sm-2 col-md-2 col-lg-2'><strong>Nombre</strong></div>
                        <div class='col-xs-7 col-sm-10 col-md-10 col-lg-10'>{{ objEntidad.coOrientador }}</div>                    
                    </div>
                    <div class='form-group'>
                        <div class='text-right col-xs-5 col-sm-2 col-md-2 col-lg-2'><strong>F. Horario</strong></div>
                        <div class='col-xs-7 col-sm-10 col-md-10 col-lg-10'>{% if objEntidad.feHorario %}{{ objEntidad.feHorario|date('d-m-Y') }}{% endif %}</div>                    
                    </div>
                    <div class='form-group'>
                        <div class='text-right col-xs-5 col-sm-2 col-md-2 col-lg-2'><strong>H. Inicio</strong></div>
                        <div class='col-xs-7 col-sm-10 col-md-10 col-lg-10'>{% if objEntidad.hoInicio %}{{ objEntidad.hoInicio|date('H:i:s') }}{% endif %}</div>                    
                    </div>
                    <div class='form-group'>
                        <div class='text-right col-xs-5 col-sm-2 col-md-2 col-lg-2'><strong>H. Fin</strong></div>
                        <div class='col-xs-7 col-sm-10 col-md-10 col-lg-10'>{% if objEntidad.hoFin %}{{ objEntidad.hoFin|date('H:i:s') }}{% endif %}</div>                    
                    </div>
                </div>    
                    <div class='form-group'>
                        <div class='text-right col-xs-5 col-sm-2 col-md-2 col-lg-2'><strong>Fecha de creación</strong></div>
                        <div class='col-xs-7 col-sm-10 col-md-10 col-lg-10'>{{ objEntidad.fhCreacion|date('d-m-Y H:i:s') }}</div>                    
                    </div>
                    <div class='form-group'>
                        <div class='text-right col-xs-5 col-sm-2 col-md-2 col-lg-2'><strong>Fecha de actualización</strong></div>
                        <div class='col-xs-7 col-sm-10 col-md-10 col-lg-10'>{{ objEntidad.fhActualizacion|date('d-m-Y H:i:s') }}</div>                    
                    </div>
                </div>         
            </fieldset>
            {% if blnBandera != 0 %}
                {% if blnBandera == 1 %}
                    <div class="alert alert-dismissable alert-success">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <strong>Bien hecho!</strong> Registro exitoso.
                    </div>
                {% else%}                
                    <div class="alert alert-dismissable alert-success">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <strong>Bien hecho!</strong> Actualización exitosa.
                    </div>
                {% endif %}
            {% endif %}

    {% endblock %}{#-- Fin Campos de la Forma #}
