{% extends '::plantilla.html.twig' %}

{% block id 'agendaorientador' %}
   
    {% block ruta %}
    <div class="container navbar-blanca">                
        <ul class="breadcrumb-modi">
            <li><a href="#"><small>Inicio</small></a></li>
            <li><a href="{{ path('pgAgendaOrientador') }}"><small>Agenda personalizada</small></a></li>
            <li class="active"><small>Crear</small></li>
        </ul>                              
    </div> 
    {% endblock %}{#-- Fin Barra de ruta --#}
    
    {# Campos de la Forma #}
    {% block twigformulario %}
        
            <fieldset>
                {# Titulo del requisito #}
                <legend>Crear Agenda personalizada
                    <div class="pull-right">
                        <a href="{{ path('pgAgendaOrientador') }}" class="btn btn-xs" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Regresar al listado">
                            <span class="glyphicon glyphicon-hand-left" aria-hidden="true"></span>
                        </a>                       
                    </div>
                </legend>
                {#Muestra los campos del formulario#}      
                   
                {{ form_start(form, { 'style': 'horizontal' }) }}
                    {{ form_errors(form, { 'global_errors': true }) }}
                    {{ form_row(form._token) }}
                    {{ form_row(form.coOrientador, {'label': 'N. Orientador'}) }}                    
                    {{ form_row(form.coSemestre, {'label': 'Semestre'}) }}
                    {{ form_row(form.coDiaSemana, {'label': 'Día de la semana'}) }}                    
                    {{ form_row(form.hoInicio, {'label': 'H. Inicio'}) }}
                    {{ form_row(form.coDuracion, {'label': 'Duración (min)'}) }}
                {{ form_end(form) }}                
            </fieldset>         
            
        
    {% endblock %}{#-- Fin Campos de la Forma #}