{% extends '::plantilla.html.twig' %}

{% block id 'dvibaremo' %}
    
    {% block ruta %}
    <div class="container navbar-blanca">                
        <ul class="breadcrumb-modi">
            <li><a href="#"><small>Inicio</small></a></li>
            <li><a href="{{ path('pgDviBaremo') }}"><small>DVI baremo</small></a></li>
            <li class="active"><small>Actualizar</small></li>
        </ul>                              
    </div> 
    {% endblock %}{#-- Fin Barra de ruta --#}
   
    {# Campos de la Forma #}
    {% block twigformulario %}
        
            <fieldset>
                {# Titulo del requisito #}
                <legend>Actualizar DVI baremo
                    <div class="pull-right">
                        {{ form(delete_form) }}
                    </div> 
                    <div class="pull-right">
                        <a href="{{ path('pgDviBaremo') }}" class="btn btn-xs" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Regresar al listado">
                            <span class="glyphicon glyphicon-hand-left" aria-hidden="true"></span>                            
                        </a> 
                            <i class="fa fa-pencil-square-o"></i>
                    </div>                
                </legend>
                
                {#Muestra los campos del formulario#}  
                {{ form_start(edit_form, { 'style': 'horizontal' }) }}
                    {{ form_errors(edit_form, { 'global_errors': true }) }}
                    {{ form_row(edit_form._token) }}
                    {{ form_row(edit_form.nuDviRespuesta, {'label': 'Respuesta'}) }} 
                    {{ form_row(edit_form.inIntere1, {'label': 'Interes 1'}) }} 
                    {{ form_row(edit_form.inIntere2, {'label': 'Interes 2'}) }} 
                    {{ form_row(edit_form.inIntere21, {'label': 'Interes 3'}) }} 
                    {{ form_row(edit_form.inIntere4, {'label': 'Interes 4'}) }} 
                    {{ form_row(edit_form.inIntere5, {'label': 'Interes 5'}) }} 
                    {{ form_row(edit_form.inIntere6, {'label': 'Interes 6'}) }} 
                    {{ form_row(edit_form.inIntere7, {'label': 'Interes 7'}) }} 
                    {{ form_row(edit_form.inIntere8, {'label': 'Interes 8'}) }} 
                    {{ form_row(edit_form.inIntere9, {'label': 'Interes 9'}) }} 
                    {{ form_row(edit_form.inIntere10, {'label': 'Interes 10'}) }} 
                    {{ form_row(edit_form.inIntere11, {'label': 'Interes 11'}) }} 
                    {{ form_row(edit_form.inIntere12, {'label': 'Interes 12'}) }} 
                    {{ form_row(edit_form.inIntere13, {'label': 'Interes 13'}) }} 
                    {{ form_row(edit_form.inIntere14, {'label': 'Interes 14'}) }} 
                    {{ form_row(edit_form.inIntere15, {'label': 'Interes 15'}) }} 
                    {{ form_row(edit_form.inIntere16, {'label': 'Interes 16'}) }} 
                    {{ form_row(edit_form.inIntere17, {'label': 'Interes 17'}) }} 
                    {{ form_row(edit_form.inIntere18, {'label': 'Interes 18'}) }} 
                {{ form_end(edit_form) }}                    
            </fieldset>   

    {% endblock %}{#-- Fin Campos de la Forma #}
