{% extends '::plantilla.html.twig' %}

{% block id 'tipoprueba' %}
   
    {% block ruta %}
    <div class="container navbar-blanca">                
        <ul class="breadcrumb-modi">
            <li><a href="#"><small>Inicio</small></a></li>
            <li><a href="{{ path('pgTipoPrueba') }}"><small>Tipo prueba</small></a></li>
            <li class="active"><small>Crear</small></li>
        </ul>                              
    </div> 
    {% endblock %}{#-- Fin Barra de ruta --#}
    
    {# Campos de la Forma #}
    {% block twigformulario %}
        
            <fieldset>
                {# Titulo del requisito #}
                <legend>Crear tipo prueba
                    <div class="pull-right">
                        <a href="{{ path('pgTipoPrueba') }}" class="btn btn-xs" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Regresar al listado">
                            <span class="glyphicon glyphicon-hand-left" aria-hidden="true"></span>
                        </a>                       
                    </div>
                </legend>
                {#Muestra los campos del formulario#}      
                   
                {{ form_start(form, { 'style': 'horizontal' }) }}
                    {{ form_errors(form, { 'global_errors': true }) }}
                    {{ form_row(form._token) }}
                    {{ form_row(form.nbTipoPrueba, {'label': 'Tipo Prueba'}) }}                    
                    {{ form_row(form.inEstado, { 'align_with_widget': true, 'label': 'Estado' }) }}
                    {{ form_row(form.feInicioVigencia, {'label': 'Vigencia ini'}) }}                    
                    {{ form_row(form.feFinVigencia, {'label': 'Vigencia fin'}) }}                    
                {{ form_end(form) }}                
            </fieldset>         
            
        
    {% endblock %}{#-- Fin Campos de la Forma #}