{% extends '::plantilla.html.twig' %}

{% block id 'rol' %}
   
    {# Campos de la Forma #}
    {% block twigformulario %}
        <form class="form-horizontal" method="post" {{form_enctype(form)}} role="form" action="{{ path('pg_rol') }}">
            <fieldset>
                {# Titulo del requisito #}
                <legend>Registrar rol</legend>
                {{ bootstrap_set_style('horizontal') }}
    
                {#Muestra los campos del formulario#}
                {{ form_errors(form) }}
                {{ form_row(form._token) }}
                {{ form_row(form.TxDescripcion, {'label': 'Rol'}) }}    
                {{ form_row(form.Guardar)}}    
            </fieldset>            
        </form>    
    {% endblock %}{#-- Fin Campos de la Forma #}