{% extends '::plantilla.html.twig' %}

{% block id 'benefihumano' %}
   
    {% block ruta %}
    <div class="container navbar-blanca">                
        <ul class="breadcrumb-modi">
            <li><a href="#"><small>Inicio</small></a></li>
            <li><a href="{{ path('pgBenefiHumano') }}"><small>Beneficiario del ...</small></a></li>
            <li class="active"><small>Crear</small></li>
        </ul>                              
    </div> 
    {% endblock %}{#-- Fin Barra de ruta --#}
    
    {# Campos de la Forma #}
    {% block twigformulario %}
        
            <fieldset>
                {# Titulo del requisito #}
                <legend>Crear beneficiario del ...
                    <div class="pull-right">
                        <a href="{{ path('pgBenefiHumano') }}" class="btn btn-xs" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Regresar al listado">
                            <span class="glyphicon glyphicon-hand-left" aria-hidden="true"></span>
                        </a>                       
                    </div>
                </legend>
                {#Muestra los campos del formulario#}      
                   
                {{ form_start(form, { 'style': 'horizontal' }) }}
                    {{ form_errors(form, { 'global_errors': true }) }}
                    {{ form_row(form._token) }}
                    {{ form_row(form.coRecursHumano, {'label': 'Nombre del ...'}) }}                    
                    {{ form_row(form.nuCedula, {'label': 'Número de cédula'}) }}
                    {{ form_row(form.inNacionalidad, {'label': 'Nacionalidad'}) }}                    
                    {{ form_row(form.txPrimerNombre, {'label': 'Primer nombre'}) }}
                    {{ form_row(form.txSegundNombre, {'label': 'Segundo nombre'}) }}                    
                    {{ form_row(form.txPrimerApellido, {'label': 'Primer apellido'}) }}
                    {{ form_row(form.txSegundApellido, {'label': 'Segundo apellido'}) }}                    
                    {{ form_row(form.txParentesco, {'label': 'Parentesco'}) }}
                    {{ form_row(form.inSexo, {'label': 'Sexo'}) }}                    
                    {{ form_row(form.inEstadoCivil, {'label': 'Estado civil'}) }}
                    {{ form_row(form.txCorreoElectronico, {'label': 'Correo electrónico'}) }}                    
                    {{ form_row(form.txTelefoHabitacion, {'label': 'Teléfono habitación'}) }}
                    {{ form_row(form.txTelefoCelular, {'label': 'Teléfono celular'}) }}                    
                    {{ form_row(form.txLugarResidencia, {'label': 'Lugar de residencia'}) }}
                {{ form_end(form) }}                
            </fieldset>         
            
        
    {% endblock %}{#-- Fin Campos de la Forma #}
