{% extends '::plantilla.html.twig' %}

{% block id 'benefiestudiante' %}
    
    {% block ruta %}
    <div class="container navbar-blanca">                
        <ul class="breadcrumb-modi">
            <li><a href="#"><small>Inicio</small></a></li>
            <li><a href="{{ path('pgBenefiEstudiante') }}"><small>Beneficiario del Estudiante</small></a></li>
            <li class="active"><small>Actualizar</small></li>
        </ul>                              
    </div> 
    {% endblock %}{#-- Fin Barra de ruta --#}
   
    {# Campos de la Forma #}
    {% block twigformulario %}
        
            <fieldset>
                {# Titulo del requisito #}
                <legend>Actualizar beneficiario del estudiante
                    <div class="pull-right">
                        {{ form(delete_form) }}
                    </div> 
                    <div class="pull-right">
                        <a href="{{ path('pgBenefiEstudiante') }}" class="btn btn-xs" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Regresar al listado">
                            <span class="glyphicon glyphicon-hand-left" aria-hidden="true"></span>                            
                        </a> 
                            <i class="fa fa-pencil-square-o"></i>
                    </div>                
                </legend>
                
                {#Muestra los campos del formulario#}  
                {{ form_start(edit_form, { 'style': 'horizontal' }) }}
                    {{ form_errors(edit_form, { 'global_errors': true }) }}
                    {{ form_row(edit_form._token) }}
                    {{ form_row(edit_form.coControEstudio, {'label': 'Nombre del estudiante'}) }}   
                    {{ form_row(edit_form.nuCedula, {'label': 'Número de cédula'}) }}
                    {{ form_row(edit_form.inNacionalidad, {'label': 'Nacionalidad'}) }}                    
                    {{ form_row(edit_form.txPrimerNombre, {'label': 'Primer nombre'}) }}
                    {{ form_row(edit_form.txSegungNombre, {'label': 'Segundo nombre'}) }}
                    {{ form_row(edit_form.txPrimerApellido, {'label': 'Primer apellido'}) }}
                    {{ form_row(edit_form.txSegundApellido, {'label': 'Segundo apellido'}) }}
                    {{ form_row(edit_form.coCiudad, {'label': 'Ciudad donde vive'}) }}
                    {{ form_row(edit_form.coEstadoCivil, {'label': 'Estado civil'}) }}
                    {{ form_row(edit_form.coGenero, {'label': 'Género'}) }}                    
                    {{ form_row(edit_form.coParentesco, {'label': 'Parentesco'}) }}                    
                    {{ form_row(edit_form.txDireccion1, {'label': 'Dirección principal'}) }}
                    {{ form_row(edit_form.txDireccion2, {'label': 'Dirección opcional'}) }}
                    {{ form_row(edit_form.txTelefoCasa, {'label': 'Teléfono casa'}) }}
                    {{ form_row(edit_form.txTelefoCelular, {'label': 'Teléfono celular'}) }}
                    {{ form_row(edit_form.txCorreoElectronico, {'label': 'Correo electrónico'}) }}
                {{ form_end(edit_form) }}                    
            </fieldset>   

    {% endblock %}{#-- Fin Campos de la Forma #}
