{# empty Twig template #}
 <html>
    <body>
        <div style="text-align: center;"><strong><font size="5"><em>{{'DIAGNOSTICO VIVENCIAL DE INTERESES'}}</em></font></strong></div>
        <div style="text-align: center;"><strong><font size="5"><em>{{'(D.V.I.) IBAÑEZ'}}</em></font></strong></div><br>
        <div style="text-align: center;"><font size="5">{{'No abra este folleto hasta que se le indique.'}}</font></div>
        <div style="text-align: center;"><font size="5">{{'En la hoja de respuestas escriba su nombre y demás datos requeridos.'}}</font></div>
        <div style="text-align: center;"><font size="5">{{'Espere más instrucciones.'}}</font></div><br>
        <div style="text-align: center;"><strong><font size="5"><em>{{'NO ESCRIBA NADA EN ESTE FOLLETO'}}</em></font></strong></div><br>
        <div style="text-align: center;"><strong><font size="5"><em>{{'INSTRUCCIONES'}}</em></font></strong></div><br>
        <div style="text-align: left"><font size="5">{{'Esta prueba consta de 113 preguntas.'}}</font></div><br>
        <div style="text-align: justify"><font size="5">{{'* Cuando Ud. se encuentre "retratado" exactamente en un enunciado,
        o cuando se nombre una asignatura, estudio o actividad que le guste de veras, ponga una (x) en la Hoja de Respuestas,
        debajo de la columna que dice "Resp.", y al lado del número correspondiente.'}}</font></div><br>
        <div style="text-align: justify"><font size="5">{{'* Cuando Ud. es o experimenta todo lo contrario
        de lo que sugiere la pregunta, o cuando las asignaturas, estudios y actividades que se mencionan
        le "repugnan" positivamente, ponga entonces un (0) en la Hoja de Respuestas, debajo de la columna
        que dice "Resp.", y al lado del número correspondiente.'}}</font></div><br>
        <div style="text-align: justify"><font size="5">{{'* En caso de duda, indecisión, o en cualquier
        otra hipótesis, deje en blanco la casilla correspondiente.'}}</font></div><br>
        <div style="text-align: justify"><font size="5">{{'* Trabaje rápido y bien.'}}</font></div><br><br>
        <div style="text-align: center;"><strong><font size="5"><em>{{'NO ESCRIBA NADA EN ESTE FOLLETO'}}</em></font></strong></div>
        <div style="text-align: center;"><strong><font size="5"><em>{{'USE LA HOJA ESPECIAL PARA RESPUESTAS'}}</em></font></strong></div>
        <div style="text-align: center;"><strong><font size="5"><em>{{'SE LE INDICA CUANDO DEBE EMPEZAR'}}</em></font></strong></div>
        <button id="Iniciar" name="Iniciar" type="button" style="right: initial">Iniciar</button>
    </body>
</html>